@font-face {
 font-family: Unna-Regular;
  src: url("assets/fonts/Unna-Regular.ttf");
}

* {
    box-sizing: border-box;
  }

  body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: black;
  background-image: url("assets/img/background.jpg");
}

.name {
    font-size: 35px;
    font-weight: 400;
    color: #654144;

}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html {
  scroll-behavior: smooth; 
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.nav-link {
  transition: .4s;
}
.section-item a {
  color: #409e4d;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #6d2121;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.section-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(104, 14, 14);
}
.nav-link {
  text-decoration: none;
  color: #654144;
  transition: color 0.5s;
}

.nav-link:hover {
  color: red;
}

.section-title {
  position: relative;
  padding-left: 30px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px; 
  border: 1px solid #10eb2d;
  border-radius: 50%;
}